<ion-view view-title="Restaurants">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="restaurant in restaurants" href="#/app/restaurants/{{restaurant.id}}" class="item item-thumbnail-left item-icon-right">
			<img src="{{restaurant.thumb}}">
			<h2>{{restaurant.name}}</h2>
			<h3 ng-if="restaurant.reserve">Reserve now!</h3>
			<h4>{{restaurant.rating}} stars!</h4>
			<p>{{restaurant.address}}</p>
			<i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
